.content
  :not(pre)>code
    border: 1px solid $borderColor

.content
  pre, pre[class*="language-"]
    margin 0

div[class*="language-"]
  border: 1px solid $borderColor

.theme-default-content pre,
.theme-default-content pre[class*="language-"]
  padding: calc(1.25rem - 0.85rem)  1.5rem;
