.container {
  --px: 3rem;
  --py: 2rem;
  padding-top: var(--py);
  padding-right: var(--px);
  padding-bottom: var(--py);
  padding-left: var(--px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.section {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  align-items: center;
}

.cover {
  max-width: 300px;
  width: 100%;
}
